<div class="my-3 p-3 bg-white rounded box-shadow">
	<form #profileForm="ngForm">
	  <div class="form-row">
	    <div class="col-md-4 mb-3">
	      <label>Username</label>
	      <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="user.username" require>
	    </div>
	    <div class="col-md-4 mb-3">
	      <label>Email</label>
	      <input type="text" class="form-control" name="email" [(ngModel)]="user.email" disabled>
	    </div>
	    <div class="col-md-4 mb-3">
	      <label>Role</label>
	      <input type="text" class="form-control"  name="role" [(ngModel)]="user.label" disabled>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="col-md-12 mb-3">
	      <label for="validationServer03">Address</label>
	      <input type="text" class="form-control" placeholder="address" [(ngModel)]="user.address" name="address">
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="col-md-3 mb-3">
	      <label for="validationServer03">City</label>
	      <input type="text" class="form-control" placeholder="City" [(ngModel)]="user.city" name="city">
	    </div>
	    <div class="col-md-3 mb-3">
	      <label for="validationServer04">State</label>
	      <input type="text" class="form-control" placeholder="Province" [(ngModel)]="user.province" name="province">
	    </div>
	    <div class="col-md-3 mb-3">
	      <label for="validationServer05">Country</label>
	      <input type="text" class="form-control" placeholder="Country" [(ngModel)]="user.country" name="country">
	    </div>
	    <div class="col-md-3 mb-3">
	      <label for="validationServer05">Zip</label>
	      <input type="text" class="form-control" placeholder="Postal Code" [(ngModel)]="user.postal_code" name="zip">
	    </div>
	  </div>
	  <button class="btn btn-primary" type="submit">Become a Publisher</button>
	  <button class="btn btn-primary float-right" type="submit" (click)="onUpdate()">Update</button>

	</form>
</div>
